@import "./style-global";

.footer {
  background-color: #233142;

  .footer-content {
    justify-content: space-between;

    .footer-item {
      flex-basis: 300px;
      margin-right: 40px;
      text-align: left;

      p {
        font-size: 13px;
      }
    }

    .socialNetworks {
      a {
        display: block;
        @extend %bg-green-gradient;
        @include border-radius-global(50%);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 15px;

        &:hover {
          @extend %bg-blue-gradient;
        }
      }
    }

    .usefulLinks {
      a {
        margin-bottom: 20px;

        &:hover {
          color: #fff !important;
        }
      }
    }
  }

  @media screen and (max-width: 767px) {
    .footer-content {
      text-align: center;
      flex-direction: column;

      .footer-item {
        text-align: center;
        flex-basis: 100%;
        width: 90%;
        padding: 20px;
        margin: 0 auto 20px auto;

        p {
          width: 100%;
          font-size: 16px;
        }

        .socialNetworks {
          width: auto;

          a {
            font-size: 16px;
          }

          .socialNetworks-itens {
            margin-left: 20px;
          }
        }
      }

      .office {
        margin: 0 auto;

        .d-flex {
          margin: 0 auto;
          align-items: center;

          p {
            text-align: left;
            font-size: 13px;
          }

          a {
            margin: 0 auto;
            text-align: left !important;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 992px) {
    .footer-content {
      flex-wrap: wrap;

      .footer-item {
        flex-basis: 240px;
        margin: 0 auto 30px auto;
      }
    }
  }
}
