.grid-contentainer {
   display: grid;
   grid-template-areas: 
   "header header header"
   "slide-container slide-container slide-container"
   "main main main"
   "footer footer footer";

   @media screen and (max-width: 992px) {
       grid-template-columns: 100%;
       grid-template-areas: 
       "header"
       "slide-container"
       "main"
       "footer";
   }
}

.header {
    grid-area: header;
}

.slide-container {
    grid-area: slide-container;
  
}

.main {
    grid-area: main;
    overflow-x: hidden;
}

.footer {
    grid-area: footer;
}

